<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Members</title>
</head>
<body>
<h2>Members List</h2>
<table border="1">
<div th:unless="${#lists.isEmpty(members)}">
<tr>
	<th>ID</th>
	<th>Name</th>
	<th> Address</th>
	<th>Age</th>
</tr>
	<dl th:each="member : ${members}">
	  </tr><td><span th:text="${member.id}">Id</span></td>
		<td><span th:text="${member.name}">Name</span></td>
		<td><span th:text="${member.address}">Address</span></td>
		<td><span th:text="${member.age}">Age</span></td></tr>	
	</dl>
</table>
</div>
<div th:if="${#lists.isEmpty(members)}">
<p> No Members to List </p>
</div>
</body>
</html>